@import "tailwindcss";

@layer base {
  :root {
    --pastel-beige: #f8f8e2; /* Beige claro */
    --pastel-cream: #fff8e9; /* Crema */
    --pastel-blue: #6ab2fa;  /* Celeste suave */
    --pastel-pink: #f3ced6;  /* Rosa pastel */
    --pastel-brown: #7B3F00; /* Marrón claro */
    --pastel-red: #ff6961; /* Rojo */
    --pastel-yellow: #f9e79f; /* Amarillo suave */
  }
}

@layer utilities {
  .bg-pastel-beige {
    background-color: var(--pastel-beige);
  }
  .bg-pastel-cream {
    background-color: var(--pastel-cream);
  }
  .bg-pastel-blue {
    background-color: var(--pastel-blue);
  }
  .bg-pastel-pink {
    background-color: var(--pastel-pink);
  }
  .bg-pastel-brown {
    background-color: var(--pastel-brown);
  }
  .bg-pastel-red {
    background-color: var(--pastel-red);
  }
  .bg-pastel-yellow {
    background-color: var(--pastel-yellow);
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
